body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/11/Milford_Sound_New_Zealand._%2814848990805%29.jpg');
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #f0e0f0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.svg-container {
    padding: 10px;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(41, 106, 160, 0.822);
    background-color: #b45353;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
}